<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HCM GroupWare</title>
</head>
<body style="padding:0; margin:3%;">
	<table style="width:100%; border:2px solid #2F3438; border-collapse: collapse;">
		<style type="text/css">
			@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
		</style>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
		<tbody>
			<tr>
				<th style="background-color:#2F3438;">
					<div style="color: #F5A315; font-size: 50px; font-weight: bold; letter-spacing: 4px; font-family: 'Jua', sans-serif;">#{company_name}</div>
				</th>
			</tr>
			<tr>
				<td style="padding:3%; vertical-align: top;">
				#{content}
				</td>
			</tr>
			<tr>
				<td style="background-color:#2F3438; color:#fff; padding:3%;vertical-align: middle;">
					<div class="foot_con_left_txt">
						상호명 : <strong>#{company_name}</strong><br>
						사업자등록번호 : #{company_num}<br>
						대표 : #{company_ceo_name} | 전화 : #{company_tel}<br>
						주소 : #{company_address}
						<p>Ⓒ since 2024 #{company_name}. All rights reserved.</p>
					</div>
				</td>
			</tr>
		</tbody>		
	</table>
</body>
</html>