<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Client_Tools/eclipse_spring_MVC/workspace_spring/log/HCM_Project.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/Client_Tools/eclipse_spring_MVC/workspace_spring/log/HCM_Project-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="SCHEDULE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Client_Tools/eclipse_spring_MVC/workspace_spring/log/HCM_Project_Schedule.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/Client_Tools/eclipse_spring_MVC/workspace_spring/log/HCM_Project_Schedule-%d{yyyy-MM}.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="com.hcm.grw" level="TRACE">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="jdbc.sqlonly" level="TRACE">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="jdbc.resultsettable" level="TRACE">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="com.zaxxer.hikari" level="INFO">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="org.mybatis.spring" level="INFO">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="io.lettuce.core" level="INFO">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="io.netty" level="INFO">
	    <appender-ref ref="FILE" />
    </logger>
    <logger name="com.hcm.grw.schedule" level="TRACE">
	    <appender-ref ref="SCHEDULE" />
    </logger>
    

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>